<div >
    <h1 class="welcome">{{_homeWelcome}}</h1>
   
</div>

<div class="comment1" id="colum1">
  <p class="para">
    <img src="../../assets/image/rotten.gif" alt="Rotten" />
    Smart TVs as low as $64.99             
   </p>

  <p class="para">
    <img src="../../assets/image/rotten.gif" alt="Fresh" />
    Everything you need to rule the school
  </p>

  <p class="para">
    <img src="../../assets/image/rotten.gif" alt="Tools" />
    Up to 60% off tools for your DIY projects
    Shop from top brands like DEWALT, Craftsman
  </p>

  <p class="para">
    <img src="../../assets/image/rotten.gif" alt="Fresh" />
    Tires for every season 
  </p>
  <p class="para">
    <img src="../../assets/image/rotten.gif" alt="Fresh" />
    Thank you for shopping with us 
  </p>
  
</div>

<div>
  <img class="home" src="../../assets/image/banner1.jpeg" />
</div>

<hr class="hrr" />
<div>
    <footer class="footBanner">
      <div>
        <br />
        <a class="homePage" href="/index.html">
          <img src="../../assets/image/iconmonstr-home-6.svg" alt="Home Page"
        /></a>
      </div>
      <br />
      <div>
        <a href="#" class="jumpTop"> Jump to Top </a>
      </div>
      <div class="val">
        <p class=" text-center text-muted mt-5 mb-0" >
            <a routerLink="/standards" class="fw-bold text-body"><u> Conditions of Use</u>. </a> 
            <a routerLink="/privacy" class="fw-bold text-body"> <u>Privacy Notice</u></a>.
        </p>
        <p>&copy; 2020-2023, WebShop.com, Inc. or its affiliates</p>
      </div>
      <div style="margin-top: auto"></div>
    </footer>
  </div>
