<nav class="navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="javascript:void(0)" (click)="goHome()">WebShop<samp>&reg;</samp></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse space-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="javascript:void(0)" (click)="goHome()"> Home <span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="javascript:void(0)" (click)="goToProducts()">Products</a>
      <a class="nav-item nav-link" href="javascript:void(0)" (click)="goToAddProduct()">Sell Product</a>
    </div>
    <div *ngIf="!isLoggedIn">
      <button  class=" btn btn-outline-dark" routerLink="login" type="button" >Sign in</button>
      <button  class=" btn btn-outline-dark ml-3" type="button" routerLink="register">Sign Up</button>
    </div>
    
    <div *ngIf="isLoggedIn">
        <span>Welcome {{name}}</span>
      <button  class=" btn btn-outline-dark ml-3" routerLink="profile" type="button" >Profile</button>
      <button  class=" btn btn-outline-dark ml-3" type="button" (click)="logOut()">Sign out</button>
    </div>
  </div>
</nav>



