/* You can add global styles to this file, and also import other style files */
.btn {
  width: 100px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-color: rgb(208, 209, 211) !important; */
}
